#content {
	margin-top: 60px;
}
.complete {
	background-color: green;
}
.incomplete {
	background-color: red;
}
.progress div {
	float:left;
}

label.btn.active {
	font-weight: bold;
	text-decoration: underline;
}

.form-control-feedback {
	margin-top: 0 !important;
}

.alert-warning{
	background: #FFF9C4  !important;
	color: #555 !important;
	padding: 10px;
	font-size: 13px;
}

.alert-success{
	background: #DCEDC8  !important;
	color: #555 !important;
	padding: 10px;
	font-size: 13px;
}


a.badge-info{
  background: #1E88E5;
  padding: 10px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.badge-primary{
  background: #039BE5;
  padding: 10px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
  margin-bottom: 5px;
}
