#content {
	margin-top: 60px;
}
.complete {
	background-color: green;
}
.incomplete {
	background-color: red;	
}
.progress div {
	float:left;
}

label.btn.active {
	font-weight: bold;
	text-decoration: underline;
}

.form-control-feedback {
	margin-top: 0 !important;
}