@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

#content {
	margin-top: 60px;
}
.complete {
	background-color: green;
}
.incomplete {
	background-color: red;
}
.progress div {
	float:left;
}

label.btn.active {
	font-weight: bold;
	color:#000;
  text-shadow: 1px 1px #999;
}

.form-control-feedback {
	margin-top: 0 !important;
}

.alert-warning{
	background: #FFF9C4  !important;
	color: #555 !important;
	padding: 10px;
	font-size: 13px;
}

.alert-success{
	background: #DCEDC8  !important;
	color: #555 !important;
	padding: 10px;
	font-size: 13px;
}


a.badge-info{
  background: #1E88E5;
  padding: 10px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
  margin-bottom: 5px;
	margin-right: 5px;
}

a.badge-primary{
  background: #039BE5;
  padding: 10px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
  margin-bottom: 5px;
	margin-right: 5px;
}

body {
    height: 100%;
    margin: 10px;
    font-family: 'Nunito', sans-serif !important;
    font-weight: normal;
    font-size: 12px;
    color: #333333;
}

.GridViewScrollHeader TH, .GridViewScrollHeader TD {
    padding: 10px;
    font-weight: normal;
    white-space: nowrap;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background-color: #F4F4F4;
    color: #999999;
    text-align: left;
    vertical-align: bottom;
}

.GridViewScrollItem TD {
    padding: 10px;
    white-space: nowrap;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background-color: #FFFFFF;
    color: #444444;
}

.GridViewScrollItemFreeze TD {
    padding: 10px;
    white-space: nowrap;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background-color: #FAFAFA;
    color: #444444;
}

.GridViewScrollFooterFreeze TD {
    padding: 10px;
    white-space: nowrap;
    border-right: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background-color: #F4F4F4;
    color: #444444;
}

.shelter_selection{
		width: 200px;
}

.no-overflow {
	overflow-y: auto;
	text-align: center;
	/* background: #FAFAFA; */
	border-top: thin solid #CCC;
	border-radius: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.no-overflow p{
	font-size: 10px;
}
.no-overflow p.icon{
	font-size: 25px;
	color:#d32f2f;
	margin-top: -10px;
}

tr.rejected, tr.rejected td, tr.rejected th{
	background: #ffcdd2 !important;
	color: #555;
}

.alert.hidden_status{
	display: none;
}

.row.rejected_applicant, .row.pending_applicant{
	display: none;
}
/*
.x_panel.rejected{
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
} */

.mb-20{
	margin-bottom: 20px;
}
